@font-face {
  font-family: NexaBlack;
  src: url("./fonts/NexaBlack.otf");
}
@font-face {
  font-family: NexaBold;
  src: url("./fonts/NexaBold.otf");
}
@font-face {
  font-family: NexaLight;
  src: url("./fonts/NexaLight.otf");
}
@font-face {
  font-family: Nexa;
  src: url("./fonts/NexaRegular.otf");
}

body {
  background-color: #0e1016;
  font-family: Nexa;
}

.bannerrapper {
  width: 98%;
  display: flex;
  justify-content: center;
}

.photosection {
  max-width: 339px;
  width: auto;
  margin: 0px 100px 1px -1px;
}

.heading {
  font-family: NexaBold;
  font-size: 44px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: normal;
  color: white;
  margin: 0 0 30px;
}

.RoadMaptext {
  font-size: 48px;
  font-weight: 600px;
  text-align: center;
}

.leftsection {
  margin: 5%;
  width: 48%;
  text-align: right;
}

.rightsection {
  margin: 4% 0%;
    width: 53%;
}

.description {
  font-family: NexaLight;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: normal;
  color: #c6cdd9;
  margin: 0 0 35px;
}

.RoadMaptext {
  color: white;
}

.LEARNMORE {
  margin: 0px;
  padding: 0px;
}

.backgroundImagefeature {
  position: absolute;
  background-size: contain;
  max-width: 390px;
  width: 100%;
  height: 390px;
  left: 0;
  top: 577px;
  z-index: -1;
}

.secondimg {
  height: auto;
  width: 90%;
}

.a {
  background-color: #0d4df2;
  border: 1.5px solid #0d4df2;
  height: 36px;
  font-size: 14px;
  padding: 15px 30px;
  color: #fff;
  border-radius: 8px;
}


.container-fluid {
  max-width: 1145px;
  margin: 0 auto;
}

.date {
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.boxdiv {
  max-width: 220px;
  width: 100%;
  font-size: 18px;
  padding: 1%;
}

.topdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirddiv {
  width: 100%;
  background: #191c26;
  border-radius: 14px;
  margin: 3px;
  font-family: NexaLight;
  text-align: left;
  position: relative;
  top: 15px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: normal;
  color: black;
}

.ng-star-inserted {
  padding: 7%;
  color: #bdc2cb;
}

.seconddiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  position: relative;
}

.seconddiv::before {
  content: "";
  position: absolute;
  width: 129%;
  height: 23px;
  margin: 0 auto;
  background-color: blue;
  border-radius: 25px 25px 25px 25px;
}

.smallicon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
}

.smallicon::before {
  content: "";
  position: absolute;
  width: 11%;
  height: 16px;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
}

.scrollfeature {
  position: relative;
  overflow-x: scroll;
  justify-content: flex-start;
  display: contents;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.date2 {
  display: none;
  visibility: hidden;
}

.insidediv {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow-x: auto;
}
.main-title {
  color: white;
  visibility: hidden;
}
@media screen and (max-width: 991px) {
  body {
    overflow: auto;
  }
  .description{
    font-size: 37px;
    line-height: 40px;
  }

  .photosection {
    max-width: 541px;
    width: 126%;
}
  .RoadMaptext {
    font-size: 48px;
    font-weight: 600px;
    text-align: right;
  }
  .main-title {
    visibility: visible;
    font-family: NexaBold;
    font-size: 54px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: normal;
    color: #c6cdd9;
    margin: 2px 19px 30px;
  }

  .heading {
    visibility: hidden;
    font-size: 0px;
    font-weight: 0;
    line-height: 0px;
    margin: -33px 0 30px;
  }
  .insidediv {
    width: auto;
    position: absolute;
    overflow-x: scroll;
    justify-content: flex-start;
    white-space: normal;
    height: auto;
    overflow: scroll;
  }

  .ng-star-inserted {
    padding: 7%;
    color: #bdc2cb;
    font-size: 32px;
    white-space: initial;
  }
  .boxdiv {
    width: 100%;
    font-size: 18px;
    padding: 8%;
  }
  .topdiv {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    top: 0;
    justify-content: flex-start;
    visibility: hidden;
  }

  .thirddiv {
    padding: 13px 43px 4px;
    top: -29px;
    font-size: 34px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: normal;
    color: #191c26;
    width: 148%;
  }
  .date2 {
    visibility: visible;
    max-width: 144px;
    width: 126%;
    display: block;
    background-color: #20e6f2;
    padding: 15px 16px 13px;
    margin: 0px 0 1px;
    box-shadow: inset 0 2px 2px #0000008a;
    border-radius: 30px;
    text-align: center;
    font-family: NexaBold;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: normal;
    color: #0e1016;
  }

  .backgroundImagefeature {
    position: absolute;
    background-size: contain;
    max-width: 390px;
    width: 100%;
    height: 390px;
    left: 1200px;
    top: 722px;
    z-index: -1;
  }
  .secondimg {
    height: auto;
    width: 90%;
    overflow: hidden;
    overflow-y: auto;
    transform: scaleX(-1);
  }
  .smallicon::before {
    left: 36px;
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 25px;
    border: none;
    top: -28px;
  }
  .rightsection {
    margin: 8% 1%;
    width: 63%;
    width: 83%;
}
.leftsection {
  margin: 8%;
  width: 45%;
  text-align: left;
}
  .seconddiv::before {
    content: "";
    border-radius: 25px 10 0 25px;
    position: absolute;
    height: 20px;
    background-color: #0749f8;
    border-radius: 8 8 8 8;
    width: 219%;
    top: -28px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .a {
    background-color: #0d4df2;
    border: 1.5px solid #0d4df2;
    height: 36px;
    font-size: 38px;
    padding: 22px 32px;
    color: #fff;
    border-radius: 28px;
  }
}
